/* src/components/currencyInfo/currencyInfo.css */
.currency-info {
    background-color: #1C2127;
    padding: 20px;
    border-radius: 8px;
    color: #A7B1BC;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: stretch;
    width: auto;
  }
  
  .currency-info__heading {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .currency-info__item {
    margin: 10px 0;
  }
  
  .currency-info__label {
    font-weight: bold;
    color: #ffffff;
  }
  
  .currency-info__value {
    margin-left: 10px;
  }
  